.head{
    background: var(--bg-dark, #0E0E15);
    margin:0px 90px 0px 90px;
    height:3000px;
}
.head1{
    background: var(--bg-dark, #0E0E15);
    height:130px;
}
.head2{
    background: var(--bg-dark, #0E0E15);
    height:28px;
}
.head3{
    background: var(--bg-dark, #0E0E15);
}

.logo{
    background: var(--bg-dark, #0E0E15);
    margin-left:80px;
}
.heatext{
    background: var(--bg-dark, #0E0E15);
    color: var(--text, #F3F3F3);
    font-size: 40px;
    font-family: 'Karantina';
    line-height: 48px;
    text-transform: "capitalize";
    position:"relative";
    bottom:"20px";
    margin-left:"20px";
}
.heatext1{
    background: var(--bg-dark, #0E0E15);
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: 'Kanit';
    line-height: 150%;
    text-transform: "capitalize";
    position:"relative";
    bottom:"30px";
    margin-left:"650px";
}
.heatext2{
    background: var(--bg-dark, #0E0E15);
    color: var(--text, #F3F3F3);
    font-size: 20px;
    font-family: 'Kanit';
    line-height: 150%;
    text-transform: "capitalize";
    position:"relative";
    bottom:"30px";
    margin-left:"48px";
}
.diff{
    background: var(--bg-dark, #0E0E15);
    border-bottom: solid 1px red;
    height:"28px";
}
